// must be string
export const FACEBOOK_APP_ID = ""

export const GOOGLE = {
  CLIENT_ID: "",
  CLIENT_SECRET: ""
}

export const GITHUB = {
  CLIENT_ID: "",
  CLIENT_SECRET: ""
}

export const FIREBASE_CONFIG = {
  apiKey: "",
  authDomain: "",
  databaseURL: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: ""
};

export const TWITTER = {
  CLIENT_ID: "",
  CLIENT_SECRET: "",
  TOKEN: "",
  TOKEN_SECRET: ""
}
